

.search-bar {
  background-color: var(--tertiary-color);

}

.results-table {
  background-color: var(--tertiary-color);
}

.table {
  margin-bottom: 0;
}

.table th {
  background-color: var(--primary-color);
  color: white;
}

.table td {
  vertical-align: middle;
}
