/* You can add global styles to this file, and also import other style files */
// Variable overrides first
$primary: #3B1E54;
$enable-shadows: true;
$prefix: "mo-";
$box-shadow-color: rgba(59, 30, 84, 0.5);

// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

:root {
    --primary-color: #3B1E54;
    --secondary-color: #9B7EBD;
    --tertiary-color: #EEEEEE;
    --font-size-base: 16px;
    --border-radius: 4px;
  }

html{
  height: 100%;
}
body{
    background-color: var(--tertiary-color);
    height: 100%;
}

.custom-shadow {
  box-shadow: 0 .5rem 1rem $box-shadow-color !important;
}